@font-face {
    font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
    src: url("/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf") ;
}

@font-face {
    font-family: FontsFree-Net-Avenir-Light-1;
    src: url("/fonts/FontsFree-Net-Avenir-Light-1.ttf");
}


@font-face {
    font-family: FontsFree-Net-Poppins-SemiBold;
    src: url("/fonts/FontsFree-Net-Poppins-SemiBold.ttf");
}