//colores 

$rojo: #a01027;
$blanco: #fff;
$negro: black;
$naranja:#ff5f5f;


//fuentes
$fuenteHeader: FontsFree-Net-Lulo-Clean-W01-One-Bold;
$fuenteprincipal:FontsFree-Net-Avenir-Light-1;
$fuentesecundaria:FontsFree-Net-Poppins-SemiBold;


//MIXINS
$telefono: 350px;
$tablet: 768px;
$desktop: 950px;
$desktopXL: 1200px;


